<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, class: "user_text", placeholder: "Compose new micropost..." %>
      <script>
          $('.user_text').val('');
          $('.user_text').keydown(function() {
              var stored_text = $('.user_text').val().substring(0, 139)
              $('.user_text').val(stored_text)
          })
          $('.user_text').keyup(function() {
              var user_text_count = $('.user_text').val().length;
              if (140 - user_text_count <= 1) {
                  var determineCharacters = "character"
              }
              else {
                  determineCharacters = "characters"
              }
              $('.user_text_remaining').html(140 - user_text_count + " " + determineCharacters + " left");
          });
      </script>
      <p class="user_text_remaining">140 characters left</p>
    </div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>