<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "application", :media => "all" %>

</head>
<body>

<%= yield %>

</body>
</html>
